<div class="body">
  <app-navbar></app-navbar>
  <h1 class="head">Team Finder</h1>
  <div class="box">
    <div>
      <h1 class="name">CYBERHEROES</h1>
    </div>
    <div>
      <h1 class="id">#XXX178</h1>
    </div>
    <div>
      <ul>
        <li>Arushi Shah</li>
        <li>Ayaan Malik</li>
        <li>Yashaswini Ahuja</li>
        <li>Advaya Mahi</li>
      </ul>
    </div>
  </div>
  <div class="box">
    <div>
      <h1 class="name">CYBERHEROES</h1>
    </div>
    <div>
      <h1 class="id">#XXX178</h1>
    </div>
    <div>
      <ul>
        <li>Arushi Shah</li>
        <li>Ayaan Malik</li>
        <li>Yashaswini Ahuja</li>
        <li>Advaya Mahi</li>
      </ul>
    </div>
  </div>
  <div class="box">
    <div>
      <h1 class="name">CYBERHEROES</h1>
    </div>
    <div>
      <h1 class="id">#XXX178</h1>
    </div>
    <div>
      <ul>
        <li>Arushi Shah</li>
        <li>Ayaan Malik</li>
        <li>Yashaswini Ahuja</li>
        <li>Advaya Mahi</li>
      </ul>
    </div>
  </div>
  <div class="box">
    <div>
      <h1 class="name">CYBERHEROES</h1>
    </div>
    <div>
      <h1 class="id">#XXX178</h1>
    </div>
    <div>
      <ul>
        <li>Arushi Shah</li>
        <li>Ayaan Malik</li>
        <li>Yashaswini Ahuja</li>
        <li>Advaya Mahi</li>
      </ul>
    </div>
  </div>
</div>
