<div class="imgdiv">
  <a routerLink="/"><img src="/assets/logo.png" /></a>
</div>
<nav>
  <ul>
    <li>
      <a
        ><span
          routerLinkActive="active"
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Home</span
        ></a
      >
    </li>
    <li>
      <a routerLink="/about" routerLinkActive="active"
        ><span routerLinkActive="active">About</span></a
      >
    </li>
    <li>
      <a routerLink="{{ link }}" routerLinkActive="active"
        ><span routerLinkActive="active">{{ text }}</span></a
      >
    </li>
    <li>
      <a routerLink="/team" routerLinkActive="active"
        ><span routerLinkActive="active">team finder</span></a
      >
    </li>
    <li>
      <a
        ><span routerLink="/contact" routerLinkActive="active">contact us</span>
      </a>
    </li>
  </ul>
</nav>
