nav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 25px;
  background-color: rgba(0, 0, 0, 0);
  margin: 0;
  margin-bottom: 20px !important;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  font-size: 20px;
  font-family: Orbitron;
  text-transform: capitalize;
  padding: 25px;
  font-weight: 500;
  letter-spacing: 3px;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

.active {
  color: var(--yellow);
  border-bottom: 3px solid var(--yellow);
  transition: visibility 1s ease;
}

.imgdiv {
  float: left;
  display: flex;
  align-items: left;
  margin-left: 30px;
  margin-top: 30px;
}

.imgdiv img {
  height: 70px;
  width: 70px;
}
