.body {
  background: url("/assets/bg2.png") top right;
  background-repeat: repeat;
  padding-bottom: 50px;
  height: 100%;
}

.register {
  color: var(--white);
  font-family: Orbitron;
  font-size: 70px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 3px;
  margin-top: 0;
  margin-bottom: 0;
}

label {
  color: var(--grey);
  font-family: Roboto Condensed;
  font-size: 30px;
  font-weight: 600;
}

form {
  margin-top: 40px;
  overflow: hidden;
}

.group {
  margin-left: 80px;
}

input {
  background: none;
  border: 2px solid var(--red);
  border-radius: 10px;
  width: 60%;
  height: 40px;
  margin-top: 5px;
  margin-bottom: 20px;
  font-size: 25px;
  color: white;
}

.login {
  margin-top: 0;
  margin-left: 80px;
  color: var(--grey);
  font-family: Roboto Condensed;
  font-size: 20px;
  font-weight: normal;
}

.special {
  color: var(--yellow);
  font-family: Roboto Condensed;
  text-decoration: underline;
}

.btn {
  width: 300px;
  height: 60px;
  background-color: var(--red);
  text-align: center;
  color: var(--white);
  font-weight: bold;
  font-size: 25px;
  font-family: Orbitron;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  border: none;
  margin-top: 50px !important;
  margin-bottom: 10px !important;
  border-radius: 10px;
}

.error {
  color: var(--yellow);
  padding-bottom: 10px;
  font-family: Roboto Condensed;
  font-size: 20px;
  font-weight: bold;
}

.btn:disabled {
  background-color: var(--grey);
  cursor: not-allowed;
  color: var(--black);
}

.btn1 {
  width: 300px;
  height: 60px;
  text-align: center;
  color: var(--white);
  font-weight: bold;
  font-size: 25px;
  font-family: Orbitron;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  border: none;
  margin-top: 10px !important;
  margin-bottom: 50px !important;
  background-color: transparent;
  border: 2px solid var(--red);
  border-radius: 10px;
}

.btn1 a {
  color: var(--red);
  text-decoration: none;
}
