<div class="body">
  <app-navbar></app-navbar>
  <h1 class="get">Get In Touch</h1>
  <form [formGroup]="this.contact" (ngSubmit)="onSubmit()">
    <div class="group">
      <label>Cyber ID</label>
      <input type="text" name="cyber" formControlName="cyber" required />
      <div
        class="error"
        *ngIf="
          contact.get('cyber')?.invalid &&
          (contact.get('cyber')?.dirty || contact.get('cyber')?.touched)
        "
      >
        Please provide a valid Cyber ID. (Minimum 4 characters)
      </div>
    </div>
    <div class="group">
      <label>Your Email</label>
      <input type="email" name="email" formControlName="email" required />
      <div
        class="error"
        *ngIf="
          contact.get('email')?.invalid &&
          (contact.get('email')?.dirty || contact.get('email')?.touched)
        "
      >
        Please provide a valid email.
      </div>
      <div class="group">
        <div>
          <label>Message</label>
        </div>
        <div>
          <textarea
            type="text"
            name="message"
            formControlName="message"
            required
          ></textarea>
          <div
            class="error"
            *ngIf="
              contact.get('message')?.invalid &&
              (contact.get('message')?.dirty || contact.get('message')?.touched)
            "
          >
            Please provide a valid message.
          </div>
        </div>
        <button class="btn" type="submit" [disabled]="!contact.valid">
          Send message
        </button>
      </div>
    </div>
  </form>
</div>
