<div class="body">
  <app-navbar></app-navbar>
  <h1 class="head">Updates</h1>
  <div class="box">
    <div>
      <img src="/assets/poster4.png" class="img" />
    </div>
    <div>
      <h1 class="lorem">Lorem ipsum dolor sit amet</h1>
      <p class="para">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error quidem
        perspiciatis maxime aperiam ipsam. Maiores veritatis nostrum at a
        facilis magni doloremque necessitatibus, corporis repellat praesentium
        culpa, alias ea dignissimos? Dolore velit placeat deserunt dolorum, enim
        at odit tempore magnam, itaque ducimus alias consequatur aliquid quos
        mollitia, laboriosam doloremque accusantium illo quis voluptate odio.
        Recusandae quaerat magnam quibusdam veniam animi! Eveniet molestias
        beatae magni possimus quae, nesciunt a temporibus voluptatibus.
        Excepturi deserunt nobis at debitis molestias voluptatum aliquam dicta
        quae ratione quo, cum natus nesciunt officiis quod totam asperiores
        culpa? Debitis architecto enim officiis iusto quidem similique, ratione
        delectus laborum. Alias sit quis commodi. Odit amet culpa praesentium
        eveniet quidem. Pariatur nemo sit recusandae nostrum impedit totam.
        Minima, tempora eveniet!
      </p>
    </div>
  </div>
  <div class="box">
    <div>
      <img src="/assets/poster3.png" class="img" />
    </div>
    <div>
      <h1 class="lorem">The Prompt is out now!</h1>
      <p class="para">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error quidem
        perspiciatis maxime aperiam ipsam. Maiores veritatis nostrum at a
        facilis magni doloremque necessitatibus, corporis repellat praesentium
        culpa, alias ea dignissimos? Dolore velit placeat deserunt dolorum, enim
        at odit tempore magnam, itaque ducimus alias consequatur aliquid quos
        mollitia, laboriosam doloremque accusantium illo quis voluptate odio.
        Recusandae quaerat magnam quibusdam veniam animi! Eveniet molestias
        beatae magni possimus quae, nesciunt a temporibus voluptatibus.
        Excepturi deserunt nobis at debitis molestias voluptatum aliquam dicta
        quae ratione quo, cum natus nesciunt officiis quod totam asperiores
        culpa? Debitis architecto enim officiis iusto quidem similique, ratione
        delectus laborum. Alias sit quis commodi. Odit amet culpa praesentium
        eveniet quidem. Pariatur nemo sit recusandae nostrum impedit totam.
        Minima, tempora eveniet!
      </p>
    </div>
  </div>
</div>
