<div class="body">
  <app-navbar></app-navbar>
  <h1 class="head">About Us</h1>

  <div class="flex">
    <div class="banner">
      <div class="bannerLeft">
        <p class="para">
          At Arasaka, led by Johnny Silverhand, we're pioneers in cybernetics.
          Our journey is all about pushing tech boundaries for tomorrow. Welcome
          to CyberForge, our top hackathon with a $420,000 prize. It's not just
          a contest; it's your chance to join the Arasaka elites. Get ready to
          team up, innovate, and help shape the next big thing in cybernetics.
          CyberForge is where minds come together to build a world that's beyond
          anything you've seen. A place where cybernetic dreams turn into
          reality.
        </p>
      </div>

      <img src="/assets/poster1.png" class="img" />
    </div>
  </div>
  <div class="imgdiv">
    <img src="/assets/poster3.png" class="img1" />
    <img src="/assets/poster2.png" class="img2" />
  </div>
</div>
