.body {
  background: url("/assets/bg2.png") top right;
  background-repeat: repeat;
  padding-bottom: 700px;
  height: 100%;
  overflow: hidden;
}

.head {
  text-align: center;
  color: var(--white);
  font-family: Orbitron;
  font-weight: 900 !important;
  font-size: 50px;
  letter-spacing: 2px;
  margin-bottom: 40px;
}

.box {
  background: rgba(255, 255, 255, 0.15);
  display: flex;
  height: 550px;
  width: 1200px;
  align-items: center;
  margin: auto;
  border-radius: 10px;
  margin-bottom: 40px;
}

.img {
  width: 500px;
  margin-top: 10px;
  margin-right: 0;
}

.lorem {
  margin: 0;
  font-size: 30px;
  display: flex;
  font-family: Outfit;
  color: var(--white);
  letter-spacing: 1px;
  font-weight: bold;
}

.para {
  font-size: 20px;
  color: var(--white);
  font-family: Outfit;
  margin-top: 50px;
  margin-right: 10px;
}
