body {
  height: 100%;
  width: 100%;
  cursor: pointer;
  margin: 0;
  padding-bottom: 0;
}

html {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 100%;
}

::placeholder {
  font-size: 25px;
  color: white;
  margin-left: 20px;
}

:root {
  --white: #fff;
  --red: #fd3649;
  --yellow: #e2df0a;
  --grey: #d7d7d7;
  --black: #000000;
  --shadow: #fd364a92;
}
