.heading {
  margin-top: 30px;
  color: var(--white);
  text-align: center;
  font-family: Roboto Condensed;
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 20px;
}

.body {
  background: url("/assets/bg.png") top right;
  background-repeat: repeat;
  height: 100%;
  padding: 0px;
  margin: 0 !important;
}

.main {
  font-size: 100px;
  color: white;
  text-align: center;
  font-family: Rowdies;
  margin: 0;
  text-shadow: -5px 5px var(--red);
  letter-spacing: 5px;
}

.para {
  backdrop-filter: blur(7.5px);
  color: white;
  text-align: center;
  font-family: Roboto Condensed;
  font-size: 20px;
  width: 650px;
  height: 130px;
  display: flex;
  justify-content: center;
  margin: auto;
  background: rgba(195, 32, 105, 0.12);
  align-items: center;
  padding: 10px;
  font-weight: lighter;
}

.btn {
  width: 250px;
  height: 75px;
  background-color: var(--red);
  margin-top: 40px !important;
  text-align: center;
  color: var(--white);
  font-weight: bold;
  font-size: 25px;
  font-family: Orbitron;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 30px !important;
  border: none;
  border-radius: 10px;
}

.btn:hover {
  box-shadow: 0px 0px 100px var(--shadow);
  transition: 0.3s ease-in;
}

a {
  text-decoration: none;
  color: white;
}

.date {
  text-align: center;
  color: white;
  font-family: Outfit;
  margin-top: 10px;
  font-size: 30px;
}

.body1 {
  background: url("/assets/bg2.png") top right;
  background-repeat: repeat;
  padding-bottom: 700px;
  height: 100%;
  overflow: hidden;
}

.head {
  text-align: center;
  color: var(--white);
  font-family: Orbitron;
  font-weight: 900 !important;
  font-size: 50px;
  letter-spacing: 2px;
}

.banner {
  width: 100%;
  padding: 0 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 75px;
}

.bannerLeft {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  width: 50%;
}

.para1 {
  color: var(--white);
  font-size: 25px;
  font-family: Outfit;
  text-align: justify;
  margin: 0;
  padding: 0;
}

.img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 500px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0;
}

.imgdiv {
  display: flex;
  height: 500px;
  width: 700px;
  margin-top: 100px !important;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding-right: 200px !important;
}

.img1 {
  margin: auto;
  height: 500px;
}

.img2 {
  margin: auto;
  height: 500px;
}
