<div class="body">
  <app-navbar></app-navbar>
  <h1 class="heading">ARASAKA PRESENTS</h1>
  <h1 class="main">CYBERFORGE</h1>
  <p class="date">28.11.2023</p>
  <p class="para">
    Get a chance to participate in Night citys biggest hackathon ever! Beyond a
    staggering prize pool of $420,000, The top teams will be offered executive
    positions within Arasaka. Stakes are higher than ever. Cybernetic dreams
    turn into reality. Secure your spot and hack your way to glory!
  </p>
  <button class="btn" routerLink="/register"><a>Register Now!</a></button>
</div>
