.heading {
  margin-top: 30px;
  color: var(--white);
  text-align: center;
  font-family: Roboto Condensed;
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 20px;
}

.body {
  background: url("/assets/bg.png") top right;
  background-repeat: repeat;
  height: 100%;
  padding: 0px;
  margin: 0 !important;
}

.main {
  font-size: 100px;
  color: white;
  text-align: center;
  font-family: Rowdies;
  margin: 0;
  text-shadow: -5px 5px var(--red);
  letter-spacing: 5px;
}

.para {
  backdrop-filter: blur(7.5px);
  color: white;
  text-align: center;
  font-family: Roboto Condensed;
  font-size: 20px;
  width: 650px;
  height: 130px;
  display: flex;
  justify-content: center;
  margin: auto;
  background: rgba(195, 32, 105, 0.12);
  align-items: center;
  padding: 10px;
  font-weight: lighter;
}

.btn {
  width: 250px;
  height: 75px;
  background-color: var(--red);
  margin-top: 40px !important;
  text-align: center;
  color: var(--white);
  font-weight: bold;
  font-size: 25px;
  font-family: Orbitron;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 30px !important;
  border: none;
  border-radius: 10px;
}

.btn:hover {
  box-shadow: 0px 0px 100px var(--shadow);
  transition: 0.3s ease-in;
}

a {
  text-decoration: none;
  color: white;
}

.date {
  text-align: center;
  color: white;
  font-family: Outfit;
  margin-top: 10px;
  font-size: 30px;
}
